.experienceTabs::-webkit-scrollbar {
  height: 0.5em;
}
.experienceTabs::-webkit-scrollbar-track-piece {
  height: 10px;
}
.experienceTabs::-webkit-scrollbar-thumb {
  background: var(--chakra-colors-gray-600);
  border-radius: 1em;
}

.card {
  position: relative;
  transition: background 0.1s;
}

.card:hover {
  --active: 1;
}

.card:after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle at calc(var(--x) * 1px) calc(var(--y) * 1px),
    var(--spotlight-color),
    transparent 14vmin
  );
  background-attachment: fixed;
  opacity: var(--active, 0);
  transition: opacity 0.2s;
  pointer-events: none;
}

.card:before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
      circle at calc(var(--x) * 1px) calc(var(--y) * 1px),
      var(--spotlight-color-strong),
      transparent 14vmin
    ),
    transparent;
  background-attachment: fixed;
  pointer-events: none;

  mask: linear-gradient(black, black) 50% 0 / 100% 4px no-repeat,
    linear-gradient(black, black) 50% 100% / 100% 4px no-repeat,
    linear-gradient(black, black) 0 50% / 4px 100% no-repeat,
    linear-gradient(black, black) 100% 50% / 4px 100% no-repeat;
}
